:root {
    --bs-wheat: #f5f5f5;
    --bs-ww: #fdfdfa;
    --bs-white: #fdfdfa;
    --bs-black: #000000;
    --primary: #f1ca29;
    --grey--dark: #aca79a;
    --border-color-dark: #dee2e6;
    --bs-filter: none;
    --bs-primary-mode: var(--primary);
}

:root[data-theme="dark"] {
    --bs-filter: brightness(0.5);
    --bs-wheat: #414140;
    --bs-ww: #414140;
    --bs-white: #222220;
    --bs-black: #ffffff;
    --primary: #f1ca29;
    --border-color-dark: #f1ca29;
    --bs-primary-mode: var(--bs-wheat);
}

.navbar-tabs-button:focus {
    color: var(--bs-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
label {
    color: var(--bs-black);
}

body {
    font-size: 1rem;
    color: var(--black);
    background: var(--white);
    font-family: monospace;
    line-height: 1.7;
}

.dark-mode-toggle {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    display: inline-block;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: .4rem;
    border: .2rem solid var(--grey--dark);
}

.dark-light-mode[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.label-dark-light-mode {
    position: absolute;
    z-index: 15;
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
}

.label-dark-light-mode:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;

}


.mode-theme-js~.label-dark-light-mode  #bx-svg-js {
    background: url(../img/svg/moon.svg) no-repeat right/contain;
}

.mode-theme-js~.label-dark-light-mode #bx-svg-js {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 30px;
    top: 0px;
    right: 2px;
    left: initial;
    z-index: -1;
    background-size: 20px 20px !important;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-theme-js.active~.label-dark-light-mode:after {
    background: url(../img/svg/sun.svg) no-repeat left/contain;
}

.mode-theme-js.active~.label-dark-light-mode::after {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 30px;
    top: 0px;
    left: 5px;
    z-index: -1;
    background-size: 22px 22px !important;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in-out;
}

/* .mode-theme-js~.label-dark-light-mode::after {
    background: url(../img/svg/moon.svg) no-repeat right/contain;
} */

/* .mode-theme-js.active~.label-dark-light-mode::after {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 30px;
    top: 0px;
    left: 5px;
    z-index: -1;
    background-size: 22px 22px !important;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in-out;
} */

.scale-mode {
    animation: scalemode 300ms forwards;
}

@keyframes scalemode {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#toggle1[type=checkbox] {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#toggle1[type=checkbox][checked=true]+.label-dark-light-mode {
    background-color: var(--bs-primary);
}

#toggle1[type=checkbox][checked=true]+.label-dark-light-mode:before {
    background-color: var(--bs-white);
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.label-dark-light-mode:active:before {
    width: 30px;
}

:root[data-theme="dark"] .dark-mode-toggle-text:before {
    content: "deactivate ";
}

:root[data-theme="light"] .dark-mode-toggle-text:before {
    content: "activate ";
}

@media screen and (max-width: 576px) {
    .label-dark-light-mode {
        position: absolute;
        z-index: 15;
        cursor: pointer;
        text-indent: -9999px;
        width: 60px;
        height: 20px;
        background: grey;
        display: block;
        border-radius: 100px;
    }

    .label-dark-light-mode:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
}