.increment,
.decremet,
.autoSize {
    width: 37px;
    height: 37px;
    background-color: var(--bs-primary);
    color: var(--bs-white) !important;
    transition: 0.3s ease;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.decremet {
    font-size: 10px;
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.decremet.visibile {
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment {
    font-size: 24px;
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment.visibile-hide {
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.auto-size-in-visible {
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.auto-size-in-visible.visibile {
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.dropdown-not-close .dropdown-item:hover,
.dropdown-not-close .dropdown-item:focus {
    background-color: var(--bs-primary-hover) !important;
    color: var(--bs-white) !important;
}

@media screen and (max-width: 992px) {

    .position-font-inc-dec {
        width: 40%;
    }

    .inc-dec {
        margin:  10px 10px 0 !important;
    }
}

@media screen and (max-width: 576px) {

    .position-font-inc-dec {
        width: 70%;
    }

    .inc-dec {
        margin:  10px 10px 0 !important;
    }
}