/*   +--------- + */
/*  /  SWIPER  / */
/* +--------  + */

.header-intro-swiper {
    width: 70%;
    height: 520px;
}

.swiper-wrapper {
    z-index: -1;
    /* filter: var(--bs-filter); */
}

.swiper-section {
    position: relative;
    height: 100%;
    z-index: 0;
    margin-top: 86px;
    padding: 48px 0;
    background-color: var(--bs-white);
    overflow: hidden;
}

.header-intro-swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: var(--bs-white);
    filter: blur(3px) brightness(.8);
}

.header-intro-swiper .swiper-slide.swiper-slide-active {
    filter: blur(0px) brightness(1) !important;
}

.swiper-slide-filter{
    filter: var(--bs-swiper-filter);
}
.h1-swiper,
.h5-swiper,
.swiper-link-a {
    color: black;
}

.swiper-link-a {
    width: fit-content;
}

.wand-span {
    width: 10px;
    font-size: 30px;
}

.swiper-link-a:hover .wand-span {
    color: orange;
}

.swiper-slider-img {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
}

.intro-slider-img {
    z-index: -1;
    filter: var(--bs-filter);
}

.header-intro-swiper .swiper-button-prev,
.header-intro-swiper .swiper-button-next {
    font-size: 2rem;
    color: var(--bs-primary-hover);
    width: initial;
    height: initial;
    top: initial;
    bottom: .5rem;
    transition: all 150ms ease-in;
    transform: scale(100%);
    z-index: 11;
}

.header-intro-swiper .swiper-button-prev:hover,
.header-intro-swiper .swiper-button-next:hover {
    background-color: var(--bs-primary-hover) !important;
    color: #fff;
}

.header-intro-swiper .swiper-button-next {
    right: calc((100% - 58px) - calc(48px * 3 / 2));
}

.header-intro-swiper .swiper-button-next::after,
.header-intro-swiper .swiper-button-prev::after {
    content: '';
}

/* .swiper-pagination-general {
    position: relative;
    height: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
} */

.swiper-navigation-pagination-gen {
    bottom: 1rem !important;
    height: 64px;
}

.swiper-navigation-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px 0;
    z-index: 15;
    bottom: 0;
}

/* .header-intro-swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem !important;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px 0;
} */

.header-intro-swiper .swiper-progress {
    transform: rotate(-90deg);
}

.header-intro-swiper .swiper-pagination-bullet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 10px !important;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.header-intro-swiper .swiper-pagination-bullet span {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-intro-swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-intro-swiper .swiper-progress {
    transform: rotate(-90deg);
}

.header-intro-swiper .circle-origin {
    fill: transparent;
    stroke: var(--bs-primary-hover);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;
}

.header-intro-swiper .swiper-pagination-bullet-active .circle-origin {
    animation: swiperProgress 5200ms linear;
}

@keyframes swiperProgress {
    0% {
        stroke-dashoffset: 140px;
    }

    /* 50% {
        stroke-dashoffset: 0;
    } */

    100% {
        stroke-dashoffset: 0;
    }
}